.container {
  border: 1px solid var(--colorBorder);
  border-radius: 5px;
  padding: 30px;
}

.title {
  margin-bottom: 10px;
}

.resultContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.underline {
  color: var(--colorPrimary);
  font-weight: 600;
}

.statCountGood {
  color: green;
}

.statCountNeutral {
  /* color: pink; */
}

.statCountBad {
  color: red;
}
